@import "tailwindcss";

@theme {
  --color-awhiska-ivoire: #FDFBF7;
  --color-awhiska-dore: #C5A059;
  --color-awhiska-noir-mat: #1A1A1A;
  --color-awhiska-rose-poudre: #F3E1DC;
  --color-awhiska-beige-sable: #E6DEC9;
  
  --font-serif: "Didot", "Bodoni MT", "Cinzel", serif;
}

body {
  background-color: var(--color-awhiska-ivoire);
  color: var(--color-awhiska-noir-mat);
}